a:link {
	color: blue;
}

a:visited {
	color: purple;
}

a:hover {
	color: green;
}

a:active {
	color: red;
}

table, th {
	padding: 10px;
}

.titleFont {
	text-align: center;
	font-weight: bold;
}

#surfSection {
	padding-top: 50px;
	/*background: rgba(255, 70, 70, 0.8);*/
}

#weatherSection {
	padding-top: 50px;
	/*background-color: #673ab7;*/
}

#buttonAlign{
	margin-left: 80px;
}

#buttonAlign2{
	margin-left: 110px;
}

footer {
	text-align: center;
	font-weight: bold;
	padding-top: 30px;
	background-color: #f6f6f6 ;
}
