a:link {
	color: blue;
}

a:visited {
	color: purple;
}

a:hover {
	color: green;
}

a:active {
	color: red;
}

table, th {
	padding: 10px;
}

#titleFont {
	text-align: center;
}

#dataText {
	float: left;
	padding: 10px;
}

#container {
	float: left;
	/*margin-left: 50px;*/
	/*margin-right: 25px;*/
}

#buttonAlign{
	margin-left: 80px;
}

#chartContainer {
	float: left;
	/*margin-left: 175px;*/
	/*margin-right: 25px;*/
}

